
.welcome {
    text-align: center;
    color: white;
    position: relative;
    padding: 40px;
}

.btn {
    color: white;
    position: relative;
    padding: 20px;
}

body {
    background: url('../images/beige-tiles.png') repeat;
}

.title {
    font-family: 'Source Serif Pro', serif;
}

.carousel-inner {
   position: fixed;
   margin-bottom: 40px;
}