<<<<<<< HEAD

=======
>>>>>>> 1102064616727ae773ae3f00e32e5385440d7cb5
.welcome {
    text-align: center;
    color: white;
    position: relative;
    padding: 40px;
}

<<<<<<< HEAD
.btn {
    color: white;
    position: relative;
    padding: 20px;
=======
.buttons {
    padding: 20px;
    color: white;
    position: relative;
>>>>>>> 1102064616727ae773ae3f00e32e5385440d7cb5
}

body {
    background: url('../images/beige-tiles.png') repeat;
}

.title {
    font-family: 'Source Serif Pro', serif;
}

.carousel-inner {
   position: fixed;
   margin-bottom: 40px;
}